-pages=['inicio','nosotros','servicios','portafolio','contacto']
-pageTitle = 'Inicio'
-currentPage='Inicio'
-siteTitle = 'Creativos ABC'
-description = 'Bienvenidos al sitio web Creativos ABC'
-siguenos = true