block config
    include ../config/config.pug

doctype html
html
    head
        title #{pageTitle} | #{siteTitle}
        meta(charset="utf-8")
        meta(name='description' content=description)
        meta(name='viewport' content='width=device-width,initial scale=1,user-scalable=no')
        link(rel='stylesheet' href='https://cdn.rawgit.com/escueladigital/EDgrid/1f5abcec/css/ed-grid.min.css')
        link(href="https://file.myfontastic.com/t7hBDHWu9wBc2iy6xnVM4Z/icons.css" rel="stylesheet")
        link(rel='stylesheet' href='/css/styles-dist.css')
    body
        header.main-header
            .logo-container
                a(href="/")
                    img(src='/img/descarga.png').logo
            nav.menu
                include ../blocks/menu.pug
        div
            block banner
                img(src='/img/'+currentPage + '.jpg')
        .main-content
            main
                block main
            aside.main-sidebar
                block aside
                    if siguenos == true
                        include ../blocks/siguenos.pug
        footer.main-footer
            p Creativos ABC - Todos los derechos reservados
            block footer
