extends templates/template.pug
append config
    -siguenos = false
block main
    h1 Bienvenidos
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis expedita a saepe neque totam! Id repellendus odit distinctio laudantium quia mollitia culpa tenetur, animi deleniti, non iure necessitatibus officiis est!
block footer
    p Creativos ABC - Todos los derechos reservados
    include ../blocks/siguenos.pug