extends templates/template.pug
append config
    -pageTitle='Nosotros'
    -description='Una impresionante descripcion para esta pagina '
    -currentPage='servicios'
block main
    h1 Bienvenidos
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis expedita a saepe neque totam! Id repellendus odit distinctio laudantium quia mollitia culpa tenetur, animi deleniti, non iure necessitatibus officiis est!